{% extends "PFAEnsaoboxBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - Index{% endblock %}
{% block pfa_ensaoboxHeader %}
            {{ parent() }}
{% endblock %}
{% block pfa_ensaoboxMenu %}
        {{ parent() }}
{% endblock %}
    {% block pfa_ensaoboxContainer %}
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <section class="panel">
                    <header class="panel-heading">
                        Changement de mot de passe :
                    </header>
                    <div class="panel-body">
                        <div class=" form">
                            {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
                        </div>
                    </div>
                </section>
            </section>
        </section>
{% endblock %}
{% block pfa_ensaoboxFooter %}
{% endblock %}
