<!--main content start-->
<!-- page start-->
<table>
        {% set j = 0 %}
        {% for i in 0..((liste|length)/4) %}
            <tr>
                {% for user in (liste|slice(j,j+4))  %}
                    <td>
                        <div>
                            <div style="width: 190px; height: 190px;">
                                {% if user.getProfilePicturePath()=='' %}
                                    <img alt="" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('uploads/user/profilepics/non_trouve.jpg') }}"
                                         width="160" height="160">
                                {% else %}
                                    <img alt="" src="{{ user.getProfilePictureAbsolutePath() }}"
                                         width="160" height="160">
                                {% endif %}
                            </div>
                            <div style="height: 50px; width: 190px">
                                <br>
                                <b style="align-content: center">
                                    {{ user.nom }} {{ user.prenom }}
                                </b>
                            </div>
                        </div>
                    </td>
                {% endfor %}
                {% set j = j+4 %}
            </tr>
        {% endfor %}

</table>