<!--main content start-->
<!-- page start-->
{#<table>#}
            {% for user in liste %}
                {#<tr>#}
                <div class>
                    <div class style="width: 160px; height: 160px;">
                        {% if user.getProfilePicturePath()=='' %}
                        <img alt="" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('uploads/user/profilepics/non_trouve.jpg') }}"
                             width="160" height="160">
                        {% else %}
                        <img alt="" src="{{ user.getProfilePictureAbsolutePath() }}"
                             width="160" height="160">
                        {% endif %}
                    </div>
                    <div class style="height: 50px; width: 160px">
                        <br>
                        <b style="align-content: center">
                            {{ user.nom }} {{ user.prenom }}
                        </b>
                    </div>
                </div>
                    {#</tr>#}
            {% endfor %}
{#</table>#}