<html>
<body>
<h2 style="text-align: center;"><span style="color:#FF0000;">EnsaoBox</span> : Plateforme de Partage ENSAOiste</h2>

<p>Salut Cher ENSAOiste,</p>

<p>Un nouveau document qui vous concerne &agrave; &eacute;t&eacute; partag&eacute; sur la plateforme, par {{ text }}</p>

<p>Pour télecharger directement ce document <a href="localhost/pfa_ensaobox/web/uploads/documents/{{ lien }}">Cliquer Ici</a> </p>

<p>&nbsp;</p>

<p>Bon Courage</p>

<h6 style="text-align: center;">-------------------------------------------------------</h6>

<h5 style="text-align: center;"><span style="color:#000080;"><span style="font-size: 14px;"><small>EnsaoBox plateforme d&eacute;veloppe en cadre d&#39;un Projet de Din D&#39;ann&eacute;e par les &eacute;tudiants le la 4&egrave;me ann&eacute;e G&eacute;nie Informatique de l&#39;Ecole Nationale des Sciences Appliqu&eacute;es Oujda </small></span></span></h5>

<h5 style="text-align: center;"><span style="color:#000080;"><span style="font-size: 14px;"><small>R&eacute;alis&eacute; par : NASRI Achraf, MAKRAN Eloucine et ZOUGA Mohamed</small></span></span></h5>
</body>
</html>
