<h3>Un Nouveau cour a été Ajouté sur la plateforme par ....</h3>
<b>GO OGOGOGOOOGOGO </b>
<b>Voilà le lien pour le télecharger directement :</b>
{#<a href="{{ asset('uploads/documents/'~doc.filieres.nomFiliere~'/'~doc.classes.nomClasse~'/'~userNameSession~'/'~doc.matieres.nomMatiere~'/'~doc.path) }}">{{ d.path }}</a>#}
