    <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
                  {% if app.request.session.get('utilisateur')=='ROLE_ETUDIANT' %}
                      <li class="sub-menu">
                          <a href="{{ path('pfa_ensaobox_homepage') }}" >
                              <i class="fa fa-dashboard"></i>
                              <span>Index</span>
                          </a>
                      </li>
                  {% endif %}
                  <li>
                      <a  href="{{ path('fos_user_profile_show') }}">
                          <i class="fa fa-user"></i>
                          <span>Profile</span>
                      </a>
                  </li>
                  {% if app.request.session.get('utilisateur')=='ROLE_PROFESSOR' %}
                  <li class="sub-menu">
                      <a href="{{ path('pfa_ensaobox_ajouter_files') }}" >
                          <i class="fa fa-book"></i>
                          <span>Mes cours</span>
                      </a>
                  </li>
                  {% elseif app.request.session.get('utilisateur')=='ROLE_ETUDIANT' %}
                  <li class="sub-menu">
                      <a href="{{ path('pfa_ensaobox_afficher_files') }}" >
                          <i class="fa fa-book"></i>
                          <span>Mes cours</span>
                      </a>
                  </li>
                  {% endif %}
                  <li class="sub-menu">
                      <a href="#" >
                          <i class="fa fa-book"></i>
                          <span>Offre de stage</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="#" >
                          <i class="fa fa-book"></i>
                          <span>PFA/PFE</span>
                      </a>
                  </li>

                </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
    <!--sidebar end-->